* {
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 194, 194) !important;
    gap: 1rem;  
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background-color: white;
    width: 100%;    
    height: 4rem;
    justify-content: space-around;
    align-items: center;
}

main{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

section{
    display: flex;
    width: 100%;
    background-color: white;
    height: 34rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

aside{
    display: flex;
    width: 100%;
    background-color: white;
    height: 34rem;
    flex-direction: column;
    padding-left: 1rem;
}

footer{
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

form input{
    width: 100%;
    height: 3rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    border:1px solid rgb(109, 102, 102);
}

form button{
    width: 40%;
    height: 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(51, 17, 83);;
    color: white;
    font-size: 1.2rem;
    border: none;
}

form button:hover{
    background-color: rgb(51, 17, 83);;
}

form label{
    font-size: 1.5rem;
}

form input::placeholder{
    font-size: 1.2rem;
}

.logo{
    display: flex;
    background-color: rgb(51, 17, 83);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

.brand{
    display: flex;  
    align-items: center;
    gap: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

nav ul li:first-child{  
    font-weight: bold;
}

ol{
    font-size: 1.5rem;
    list-style-type: lower-roman;
}

dl{
    font-size: 1.5rem;
}

dt, dd {
  display: inline;
  margin: 0;
}

dd::after { 
  content: "\A";
  white-space: pre;
}

td, th, tr{
    border: 1px solid black !important;
    font-size: 1.5rem;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 70%;
}

.box_model{
    display: flex;
    gap: 0;
}

.box_model h2{
    margin-bottom: 0;
}

.box{
    margin: 3rem;
    width: 40%;
    height: 20rem;
    border: 1px solid black;
    padding: 3rem;
}

article{
    display: flex;
    gap: 2rem;
}

